<launch>
    
    <!--- LiDAR Configuration -->
    <arg name="lidar_config" default="lslidar_c32w" doc="LiDAR configuration to use (vlp16, lslidar_c32w, hdl32e, vls128, ouster_os1_16, ouster_os1_64)"/>
    <arg name="config_file" default="$(find lego_loam)/config/$(arg lidar_config).yaml" doc="Path to LiDAR configuration file"/>
    
    <!--- Sim Time -->
    <!-- <param name="/use_sim_time" value="true" /> -->
    
    <!--- Load LiDAR configuration -->
    <rosparam file="$(arg config_file)" command="load" ns="lidar_params"/>

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lego_loam)/launch/test.rviz" />

    <!--- TF -->
    <node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 1.570795   0        1.570795 map    camera_init 10" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0        camera base_link   10" />

    <!--- LeGO-LOAM -->    
    <node pkg="lego_loam" type="imageProjection"    name="imageProjection"    output="screen">
        <param name="config_file" value="$(arg config_file)"/>
    </node>
    <node pkg="lego_loam" type="featureAssociation" name="featureAssociation" output="screen">
        <param name="config_file" value="$(arg config_file)"/>
    </node>
    <node pkg="lego_loam" type="mapOptmization"     name="mapOptmization"     output="screen">
        <param name="config_file" value="$(arg config_file)"/>
    </node>
    <node pkg="lego_loam" type="transformFusion"    name="transformFusion"    output="screen">
        <param name="config_file" value="$(arg config_file)"/>
    </node>

</launch>
